<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

<!-- 新 Bootstrap4 核心 CSS 文件 -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"></link>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>

<!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
<script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>

<!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
<script
	src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/mystyle.css"></link>
<link rel="stylesheet" type="text/css" href="css/index.css"></link>
<script type="text/javascript" src="js/mymain.js"></script>
<title>主页</title>
</head>

<body>
	<p th:text="${name}+',你好！'">404</p>
	<ul class="nav justify-content-end">
		<li class="nav-item">
			<form class="form-search form-inline" method="post">
				<input class="form-control b" type="text" name="name"
					placeholder="名称"></input> <input class="form-control b" type="text"
					name="size" placeholder="规格"></input> <input type="submit"
					class="btn btn-info" value="查询"></input>
			</form>
		</li>
	</ul>
	<div style="position: relative;">
		<nav id="menu" class="navbar bg-light">
			<ul class="navbar-nav">
				<li class="nav-item" th:each="storeroom:${storerooms}"><a
					class="nav-link oncl" th:attr="data-room_id=${storeroom.id}"
					href="#" th:text="${storeroom.name}">Link 1</a></li>
			</ul>
		</nav>
		<main id="panel"> <span class="link text-muted" id="toc-toggle"></span>
		<ul class="nav nav-tabs">
			<li class="nav-item"><a class="nav-link" href="#" id="tab1">选择仓库</a>
			</li>
			<li class="nav-item"><a class="nav-link active" href="#"
				id="tab2">背包</a></li>
		</ul>
		<table id="table" class="table table-sm">
			<thead>
				<tr>
					<th>名称</th>
					<th>规格</th>
					<th>数量</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="tbody">
				<tr th:each="tool:${tools}" th:id="${tool.id}">
					<th th:text="${tool.name}">梅花扳手</th>
					<th>
						<p th:text="${tool.size1}">-</p>
					</th>
					<th><p>1</p></th>
					<th>
						<button class="btn btn-primary btn-sm"
							th:onclick="'bring('+${tool.id}+')'">放回</button>
					</th>
				</tr>
			</tbody>
		</table>
		</main>
	</div>
	<div class="beian">Copyright © 2018 - 2022 ToolSystems版权所有
		托电检修部汽机本体班</div>
	<script type="text/javascript" src="js/slideout.min.js"></script>
	<script type="text/javascript" src="js/drop.js"></script>
</body>

</html>